@keyframes rotateAnimation {
    0% {
        transform: rotate3d(0, 0, 0, 0deg);
    }

    100% {
        transform: rotateX(80deg) rotateZ(90deg) scale(1.5);
    }
}



.CardCanvas {
    animation: rotateAnimation 1s forwards ease-in-out;
}

.CradCanvasWrap {
    perspective: 2000px;
    transform-style: preserve-3d;
}