.BackgroundWrapper {
    transform-style: preserve-3d;
    perspective: 2000px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.Background {
    transition: transform 0.5s ease-out;
}

.BackgroundLandingPage {
    transform: rotateX(0deg) rotateZ(0deg) scale(1);
}

.BackgroundCreatePage {
    transform: rotateX(80deg) rotateZ(90deg) scale(2);

}